[Unit]
Description=redborder ai service
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/lib/redborder/bin/rb_ai.sh --fast --nobrowser --port 50505 --host 0.0.0.0
Restart=always
User=root
Group=root
StandardOutput=append:/var/log/redborder-ai/redborder_ai.log
StandardError=append:/var/log/redborder-ai/redborder_ai_error.log
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
